*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* create box1 */
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;

}
.border:hover{
    border: 1.5px solid white;

}
/* create box2 */
.address{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.location{
    font-size: 1rem;
    margin-left: 5px;
    
    
}
.add-icon{
    display: flex;
}

/* ---create box 3---- */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
    border: none;


}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(247, 166, 16);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/* create box 4 */

span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* create box65*/

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;


}

/* Panel */

.panel{
    height: 40px;
    background-color: #222f32;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 15px;

    
}

.panel-options {
    width: 70%;
    font-size: 0.85rem;
    
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* create hero class */

.hero-class{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heromsg {
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;

}

/* ///////////create shop section ///////////////*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
 /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 5px;
    
}

.img-class{
   
    height: 300px;
    background-size:cover;
    
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: rgb(7, 94, 174);
}

/* -----create footer-------- */

/* ------panel one----- */

footer{
    margin-top: 15px;
}
.foot-panel{

    background-color: #37475a;
    color: #f3f3f3;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    
}

/* -------panel two------ */

.footpanel2{

    background-color: #222f32;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top:20px ;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

/* ----panel3--- */
.foot-panel3{
    
    background-color: #222f32;
    color: white;
    border-top: 2px solid white;
}























